.py27
# IDE
.idea/
*.iml

# shell results
.requirements_checked
chromedriver.exe
chromedriver_*
geckodriver.exe
geckodriver*
acceptance/vars/__pycache__

# robotf results
docs/local/*
docs/boly38/*
docs/master/*
docs/boly38/*
previous_docs/

# python virtual env
venv/
